* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
}

header, footer {
    max-width: 100%;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #e6f2ff;
}

header {
    text-align: center;
    background-color: #4E472F;
    color: white;
}

header h1 {
    font-size: 4rem;
}

header p {
    font-size: 2rem;
    padding-bottom: 30px;
}

nav {
    background-color: #355e3b;
    padding: 5px;
}

.navigation {
    list-style-type: none;
}

.navigation li {
    display: none;
}

.navigation a{
    display: block;
    color: white;
    text-align: left;
    padding: 1rem;
    font-size: 2rem;
    text-decoration: none;
}

.navigation a:hover {
    background-color: black;
}

#menu{
    display: block;
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid black;
    padding: 5px 5px 5px;
    background-color: whitesmoke;
    color: black;
}

#menu::before{
    content: '≡';
}

#menu.open::before{
    content: 'X';
}

.open li {
    display: block;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    padding-bottom: 200px;
}

#hero {
    position: absolute;
    width: 100%;
    height: 75%;
    z-index: -1;
}

#action {
    grid-column: 1 / 3;
    text-align: center;
    margin: 2rem;
}

#action a{
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 3rem;
    background-color: rgba(53, 94, 59, .5);
    color: black;
    text-decoration: none;
}

#action a:hover {
    background-color: #355e3b;
    color: white;
}

section{
    margin: auto;
    grid-column: 1;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 2rem; 
    text-align: center;
    width: 75%;
    background-color: #eae6e5;
    box-shadow: 5px 5px 10px gray;
    margin-top: 20px;
    margin-bottom: 20px;
}

section h2{
    background-color: #8fcb9b;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 2px solid black;
}

footer {
    background-color: #4E472F;
    color: white;
    position: absolute;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

footer p, address {
    padding: 10px;
}