@media screen and (min-width: 658px) {
    nav{
        height: 5rem;
        margin: 0px;
    }
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    #hero {
        position: absolute;
        margin: 0 auto;
        padding: 0px;
        width: 100%;
        height:110%;
        z-index: -1;
    }

    header h1{
        height: 5rem
    }

    header p{
        height: 2rem;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    #card1 {
        grid-column: 1;
        max-width: 800px;
        max-height: 500px;
    }

    #card2 {
        grid-column: 1;
        max-width: 800px;
        max-height: 500px;
    }

    #card3 {
        grid-column: 2;
        max-width: 800px;
        max-height: 500px;
    }

    #card3 img{
        padding: 20px;
        border: 1px solid black;
        border-radius: 25px;
        box-shadow: 5px 5px 10px black;
        background-color: white;
    }
    
    #spotlight{
        padding: 20px;
    }
    

    footer {
        position: fixed;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        color: white;
        width: 100%;
        height: 100%;
        margin-top: -10px;
        z-index: -1;
        font-size: 20px;
        text-align: center;
    }

    #disco {
        position: relative;
    }

    #info {
        grid-column: 2;
        font-size: 20px;
    }

    #contact {
        grid-column: 3;
    }

    #discover {
        display: grid;
        grid-template-columns: 450px auto;
    }

    #sidebar {
        height: 100%;
    }

    #event p{
        width: 350px;
        height: 100%;
        margin-left: 50px;
        margin-top: 20px;
    }

    #advert {
       width: 350px;
       margin-left: 50px;
    }

    #advert p{
        text-align: center;
        height: 100%;
    
    }

    #golf {
        width: 252px;
        height: 152px;
    }

    iframe {
        margin-left: 50px;
        width: 350px;
        height: 350px;
    }

    #visit {
        width: 350px;
        margin-left: 50px;
    }

    #image1, #image2, #image3, #image4, #image5, #image6{
        width: 100%;
        height: auto;
        transform: scale(.8);
        margin: 50px;
    }

    #image1:hover, #image2:hover, #image3:hover, #image4:hover, #image5:hover, #image6:hover {
        box-shadow: 20px 20px 60px black;
    }

    .label {
        position: relative;
        border: 2px solid black;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 15px;
        box-shadow: 1px 1px 10px gray;
        text-align: center;
        left: 800px;
    }
    
    .label p {
        margin: 0;
        padding: .25rem;
        font-size: 2rem;
    }

    .list{
        margin: 100px;
    }
    
    .list div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 15px;
        margin-left: 250px;
        margin-right: 250px;
    }
    
    .list div:nth-child(odd) {
        background-color: darkgray;
    }
    
    .list h1 {
        display: flex;
    }
    
    .list img {
        display: none;
    }
    
}