* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, main, footer {
    max-width: 100%;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #e6f2ff;
}

header {
    background-color: #084C61;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    color: white;
    
}

#photo {
    width: auto;
    height: auto;
    align-items: center;
    display: flex;
    box-shadow: 10px 10px 50px black;
    margin: 25px;
}

h1 {
    color: white;
    font-size: 6rem;
    margin: auto;
    border: 1rem;
}

nav {
    background: #Db504A;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: none;
}

nav a {
    display: block;
    color: black;
    text-align: left;
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    
}

nav a:hover {
    background-color: black;
    color: #e3b505;
    padding: 1rem;
}

#menu{
    display: block;
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid black;
    padding: 5px 5px 5px;
    background-color: whitesmoke;
    color: black;
}

#menu::before {
    content: '≡';
}

#menu.open::before {
    content: 'X';
}

.open li {
    display: block;
    width: 100%;
}

.hero {
    margin: 10px auto;
    position: relative;
}

 .hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#label {
    position: absolute;
    top: 50px;
    left: 15px;
    border: 2px solid black;
    padding: 15px;
    box-shadow: 5px 5px 10px gray;
}

#label p {
    margin: 0;
    padding: .25rem;
    font-size: 1.5rem;
    font-family:'Courier New', Courier, monospace;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 1.5rem;
    text-decoration: underline 2px;
    margin: 30px;
    text-align: center;
}

section{
    margin: auto;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 2rem;  
}

#card, .card {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px gray; 
}

#card h3, .card h3 {
    text-align: center;
    background-color: #e3b505;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#card li {
    list-style-type: none;
    padding: 10px;
}

.card p {
    padding: 15px;
    padding-bottom: 68px;
    text-align: center;
}

.visits {
    font-size: 2rem;
}

iframe {
    width: 100%;
}

footer {
    justify-content: center;
    background-color: #084C61;
    color: white;
    height: 200px;
    padding: 3rem;
}
footer p {
    font-size: 2rem;
    text-align: center;
}