@media screen and (min-width: 745px) {
    .navigate {
        display: flex;
    }

    .navigate li {
        display: block;
        flex: 1 1 100%;
    }

    .navigate li a {
        text-align: center;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    #card {
        grid-column: 1;
    }

    .card {
        grid-column: 2;
        
    }

    #menu {
        display: none;
    }
}